<!-- Page Header -->
<section class="page-header">
  <div class="page-header__bg"
       [style.backgroundImage]="'url(assets/images/services/' + (template?.serviceSlug === 'kaynakli-imalat' ? 'kaynak' : template?.serviceSlug) + '-slider.webp)'">
  </div>
  <div class="container">
    <div class="page-header__inner">
      <h2 *ngIf="template">{{ district?.name }} {{ template.serviceName }}</h2>
      <ul class="thm-breadcrumb">
        <li><a routerLink="/">Ana Sayfa</a></li>
        <li><span class="icon-caret mx-2"></span></li>
        <li><a [routerLink]="'/hizmetler/' + template?.serviceSlug">{{ template?.serviceName }}</a></li>
        <li><span class="icon-caret mx-2"></span></li>
        <li>{{ district?.name }}</li>
      </ul>
    </div>
  </div>
</section>

<!-- Main Content -->
<section class="blog-details">
  <div class="container">
    <div class="row">

      <!-- Sidebar -->
      <div class="col-xl-4 col-lg-5">
        <div class="sidebar">

          <!-- Hizmetler -->
          <div class="sidebar__single sidebar__category">
            <h3 class="sidebar__title">Hizmetlerimiz</h3>
            <ul class="sidebar__category-list">
              <li *ngFor="let srv of allServiceLinks"
                  routerLinkActive="active">
                <a [routerLink]="srv.link">{{ srv.label | translate }} <span class="icon-caret"></span></a>
              </li>
            </ul>
          </div>

          <!-- CTA -->
          <div class="sidebar-cta">
            <h3 class="sidebar-cta__title">Hemen Teklif Alın</h3>
            <p class="sidebar-cta__text">{{ template?.cta }}</p>
            <a routerLink="/contact" class="thm-btn">
              <span class="txt">İletişime Geç</span>
            </a>
            <p class="sidebar-cta__phone">
              <i class="fa fa-phone-alt me-2"></i>
              <a href="tel:905550008304">0555 000 83 04</a>
            </p>
          </div>

        </div>
      </div>

      <!-- Content -->
      <div class="col-xl-8 col-lg-7">
        <div *ngIf="district && template" class="services-details__content district-service">

          <!-- Top Image -->
          <div class="services-details__content-img1">
            <img [src]="'assets/images/services/' + template.serviceSlug.replace('kaynakli-imalat','kaynak') + '-top.webp'"
                 [alt]="district.name + ' ' + template.serviceName + ' hizmeti'" />
          </div>

          <!-- H1 -->
          <h1 class="district-service__h1">
            {{ district.name }} {{ template.serviceName }} Hizmeti
          </h1>

          <!-- Ana icerik -->
          <div class="district-service__content services-details__content-text-box1"
               [innerHTML]="content"></div>

          <!-- Neden Bizi Tercih Etmelisiniz -->
          <div class="district-service__why-us">
            <h2>{{ district.name }} Bölgesinde Neden Kuzey Şafak Lazer?</h2>
            <ul class="district-service__why-us-list">
              <li *ngFor="let item of whyUsItems" class="district-service__why-us-item">
                <i class="icon-check-1"></i>
                <span>{{ item }}</span>
              </li>
            </ul>
          </div>

          <!-- Bottom Image -->
          <div class="services-details__content-img2" style="margin-top: 30px;">
            <img [src]="'assets/images/services/' + template.serviceSlug.replace('kaynakli-imalat','kaynak') + '-bottom.webp'"
                 [alt]="template.serviceName + ' kapasite'" />
            <div class="icon-box">
              <img [src]="'assets/images/services/' + template.serviceSlug.replace('kaynakli-imalat','kaynak') + '-icon.webp'"
                   [alt]="template.serviceName + ' ikon'" />
            </div>
          </div>

          <!-- Kapasite -->
          <div class="district-service__capacity">
            <h3>Teknik Kapasite</h3>
            <div [innerHTML]="template.capacity"></div>
          </div>

          <!-- Yakin Ilceler -->
          <div *ngIf="nearbyDistricts.length" class="district-service__nearby">
            <h3>Yakın Bölgelerde {{ template.serviceName }} Hizmeti</h3>
            <div class="row">
              <div *ngFor="let nd of nearbyDistricts" class="col-6 col-md-4 col-lg-4 mb-3">
                <a [routerLink]="'/' + template.serviceSlug + '/' + nd.slug"
                   class="district-service__district-link">
                  <i class="fa fa-map-marker-alt"></i>
                  {{ nd.name }}
                </a>
              </div>
            </div>
          </div>

          <!-- Diger Hizmetler -->
          <div *ngIf="otherServices.length" class="district-service__other-services">
            <h3>{{ district.name }} İçin Diğer Hizmetlerimiz</h3>
            <div class="row">
              <div *ngFor="let os of otherServices" class="col-6 col-md-4 mb-3">
                <a [routerLink]="'/' + os.serviceSlug + '/' + district.slug"
                   class="district-service__service-link">
                  {{ os.serviceName }}
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
